/*-------------- 
fonts and body
----------------*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
/*--------------------------
common styles or utilities
----------------------------*/
.heading-container{
    display: flex;
    background-color: #004D98;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
}
.heading-title{
    align-items: center;
    margin: 100px 119px 27px 56px;
}
.heading-title h1{
    font-size:64px;
    width: 485px;
    height: 330px;
    line-height: 80px;
}
.heading-title a{
    text-decoration: none;
    width: 168px;
    height: 44px;
    background-color:  #A50044;
    padding: 10px 24px;
    font-size: 16px;
    color: #FFFFFF;
}
.heading-banner{
    border: 1px solid #004D98;
    border-radius: 0px 120px 0px 0px; 
    box-shadow: 50px 0px 50px 0px #a500459b;
    margin-top: 120px;
    margin-left: 50px;
    margin-bottom: 68px;
    overflow: hidden;
}
.heading-banner img{
    width: 556px;
    height: 438px; 
}
 .heading-banner img:hover{
    transform: scale(1.2, 1.3);
    transition: 2s ease; 
}
main{
    margin-top: 70px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    width: 1050px;
    margin-left: 180px;
    margin-right: 210px;
}
.player-container{
    width: 330px;
    height: 474px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player{
    margin: 15px 15px 30px 15px;
}
.player img{
    width: 300px;
    height: 256px;
    
}
.player-details{
    width: 300px;
    height: 154px;
}
.player-details h3{
    margin-top: 10px;
    margin-bottom: 0;
   font-size: 28px;
}
.player-details p{
    margin: 0%;
    font-size: 16px;
}
/*=============
 footer styles 
 ==============*/
footer{
    height: auto;
    padding: 40px;
    margin-top: 10px;
}
.footer-icon{
    display: flex;
     align-items: center;
     justify-content: center;
}
.footer-icon h1{
    font-family: 'Londrina Outline', cursive;
    font-size: 50px;
    margin: 0%;
    color: #A50044;
}
.color{
    color: #004D98;
}
.footer-icon img{
    width: 200px;
}
.footer-icon img:hover{
    transform: scale(1.2, 1.3);
    transition: 2s ease; 
    color: #A50044;
}
 .social{
     list-style: none;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0%;
 }
 .social li{
    margin: 0px 14px;
 }
 .social a{
     text-decoration: none;
     color: gray;
 }
 .social a i{
     font-size: 1.1rem;
     transition: color .4s ease;
     padding-right: 30px;
 }
 .social a:hover i{
     color: #A50044;
 }
 .copyright{
     text-align: center;
 }